body{
	background: url("../imagenes/background-image.jpg") fixed;
	background-size: cover;
	background-attachment: fixed;
}

html,
body {
  overflow-x: hidden; /* Prevent scroll on narrow devices */
}
.navbar{
	height: 100px;
	background: rgba(255, 255, 255, 0.1);
}
.navbar .navbar-brand{
	background: url("../imagenes/logo_responsive.png");
	background-repeat: no-repeat;
	margin: auto;
	width: 128px;
	height: 28px;
}
.nav-link{
	width: 147%;
}
.navbar-dark .navbar-nav .nav-link{
	color: white;
	font-family: 'Lato', sans-serif;
}
.navbar-dark .navbar-nav .nav-link:hover, .navbar-dark .navbar-nav .nav-link:focus{
	 color: white;
}
  .offcanvas-collapse {
    position: fixed;
    top: 100px; /* Height of navbar */
    bottom: 0;
    right: 100%;
    /*left: 100%; es un margin-left e indica cuan a la derecha quiero que esté mi nav cuando toco el botón para que aparezca*/
    width: 75%;
    padding-top: 8px;
    padding-right: 1rem;
    padding-left: 2rem;
    padding-right: 23%;
    overflow-y: auto;
    visibility: hidden;
    background: rgba(255,255,255, 0.1);
    transition: transform .2s, visibility .2s /*visibility */ 	;
    height: 40.6%;
	border-radius: 0% 0% 1% 0%;
  }
  .offcanvas-collapse.open {
    visibility: visible;
    transform: translateX(100%)
    /*transform: translateX(-100%);sigue siendo un margin-left y si disminuyo el porcentaje se va mas a derecha*/
  }
  .navbar-toggler-icon{
  	position: absolute;
  	right: 82%;
  	top: 35%;
  }
      hr{
      	background: rgb(0, 170, 152);
      	opacity: 1;
      	width: 132%;
      	margin-bottom: 5px;
      	margin-top: 5px;
      }
		.container li a{
			color: white;
			display: block;
			font-family: 'Lato', sans-serif;
			padding-bottom: 5px;			
			padding-top: 4px;
			text-decoration: none;
		}
		.container li a:hover{
			color: rgba(255, 255, 255, 0.7);
			transition: 0.4s;
		}
.sobre_mi{
	margin-bottom: 300px;
	margin-top: 135px;
	text-align: center;
	}
	.sobre_mi article img{
		border-radius: 1% 1% 1% 1%;
		filter: grayscale(80%);
		height: 49%;	
		margin-bottom: 40px;	 
		z-index: -2;
		position: relative;
		width: 90%;
		}
		.sobre_mi article h2{
			color: white;
			font-family: 'Montserrat', sans-serif;
			font-size: 270%;
			font-weight: 300;
			padding-left: 15px;
			padding-right: 15px;
		}
		.sobre_mi article span{
			color: rgb(0,170,152);
		}
		.sobre_mi article .descripción{
			    background: rgba(255,255,255, 0.15);
			    padding-bottom: 50px;
			    padding-left: 30px;
				padding-right: 30px;
				padding-top: 40px;
		}
			.sobre_mi article .descripción p{
				color: white;
				font-family: 'Montserrat', sans-serif;
				font-size: 16px;
				font-weight: 300;				
			}
			.sobre_mi article .descripción .click{
				border-radius: 1% 1% 1% 1%;
				border: solid 1px rgb(0,170,152);
				color: white;
				display: inline-block;
				font-family: 'Montserrat', sans-serif;
				font-size: 16px;
				height: 40px;
				padding-top: 6px;
				text-decoration: none;
				width: 150px;
			}
.contenedor_habilidades{
	margin-bottom: 300px;
}
	.contenedor_habilidades h2{
		color: white;
		font-family: 'Montserrat', sans-serif;
		font-size: 270%;
		font-weight: 300;
		margin-bottom: 100px;
		padding-left: 15px;
		padding-right: 15px;

	}
	.contenedor_habilidades .logo_html5{
		margin-bottom: 100px;
	}
		.contenedor_habilidades .container_articles{
			padding-right: 12%;
			padding-left: 12%;
			margin-bottom: 100px;
			position: relative;
		}
			.contenedor_habilidades h3{
				color: white;
				font-family: 'Montserrat', sans-serif;
				font-size: 25px;
				font-weight: 300;
				margin-bottom: 37px;
				padding-bottom: 4px;
				padding-top: 4px;
				}
			.contenedor_habilidades .v-line1{
				border-left: solid 180px rgb(0, 170, 152);
		 		height:1px;
		 		margin-bottom: 100px;
		 		top: 10%;
		 		width: 180px;
			}
				.contenedor_habilidades .logo_css3{
					margin-bottom: 100px;
				}
			.contenedor_habilidades .v-line2{
				border-left: solid 180px rgb(0,170,152);
		 		height:1px;
		 		margin-bottom: 100px;
		 		top: 26%;
		 		width: 180px;
			}
		    	.contenedor_habilidades .logo_bootstrap5{
		    		margin-bottom: 72px;
		    	}
		.ver_mas{
			border: solid 1px rgb(0,170,152);
			border-radius: 1px;
			color: white;
			display: inline-block;
			font-family: 'Montserrat', sans-serif;
			height: 40px;
			padding-top: 6px;
			text-decoration: none;
			width: 150px;
		}
		.ver_mas:hover{
			color: white;
		}
.mis_proyectos{
	margin-bottom: 300px;
}
	.mis_proyectos h2{
		color: white;
		font-family: 'Montserrat', sans-serif;
		font-size: 270%;
		font-weight: 300;
		margin-bottom: 100px;
	}
		.mis_proyectos article .container_image{
			box-sizing: border-box;			
			margin: auto;
			position: relative;
			background: red;
			width: 60%;
		}
			.mis_proyectos article .container_image img{
				width: 100%;
				height: 100%;
			}
			.mis_proyectos article .container_image a{
				background: rgba(255,255,255, 0.3);
				color: white;
				display: block;
				font-family: 'Montserrat', sans-serif;
				font-size: 100%;
				height: 100%;
				left: 0%;
				padding-top: 26%;
				position: absolute;
				text-decoration: none;
				opacity: 0;
				top: 0%;
				width: 100%;
			}
			.mis_proyectos article .container_image:hover a{
				transition: 0.9s;
				opacity: 1 ;
			}
.hablamos{
	margin-bottom: 300px;
}
	.hablamos h2{
		color: white;
		font-family: 'Montserrat', sans-serif;
		font-size: 270%;
		font-weight: 300;
		margin-bottom: 100px;
	}
	.hablamos p a{
		border: solid 1px rgb(0,170,152);
		border-radius: 1% 1% 1% 1%;
    	color: white;
		display: inline-block;
		font-family: 'Lato', sans-serif;
		font-size: 160%;
		font-weight: 300;		
		height: 75px;
		padding-top: 16px;
		text-decoration: none;
		width: 65%;
	}
footer{
	background: rgba(255,255,255, 0.1);
	list-style-type: none;
	position: relative;
}
		footer li a{
			color: white;
			text-decoration: none;
			font-family:'Lato', sans-serif;
			font-size: 17px;
			font-weight: 300;
		}
		footer li a:hover{
			color: white;
		}
		footer .v-line_link1{
			background-color: rgb(0,170,152);
			height: 15%;
			left: 50%;
			position: absolute;
			top: 22%;
			width: 0.2%;			
		}
	footer .container span{
		color: white;
		font-family: 'Lato', sans-serif;
		font-size: 13px;
	}

	