body{
	background: url("../imagenes/background-image.jpg") fixed;
	background-size: cover;
}
.header{
	background-color: rgba(255,255,255, 0.2);
	height: 160px;
	margin-top: -200px;
}
	.col-nav{
		width: 470px;
	}
		.container li a{
			background: rgba(255,255,255, 0.15);
			border-radius: 2px;	
			color: white;
			display: block;
			font-family: 'Lato', sans-serif;
			padding-bottom: 5px;			
			padding-top: 4px;
			text-align: center;
			text-decoration: none;
			width: 110px;		
		}
			.container li a:hover{
				background: transparent;
				transition: 0.6s;
			}
.sobre_mi{
	margin-top: 200px;
	}
	.sobre_mi article .marco_verde{
		color: rgb(0,170,152);
		border: solid 2px;
		height: 520px;
		margin-bottom: 100px;
		width: 420px;
	}
	.sobre_mi article h2{
		color: white;
		font-family: 'Montserrat', sans-serif;
		font-size: 100px;
		font-weight: 300;
	}
		.sobre_mi article h2 span{
			color: rgb(0,170,152);
		}
	.sobre_mi article .descripción{
		background: rgba(255,255,255, 0.15);
		margin-bottom: 110px;
		padding: 90px;
	}
		.sobre_mi article .descripción p{
			color: white;
			font-family: 'Montserrat', sans-serif;
			font-size: 23px;
			font-weight: 300;
		}
		.contenedor_habilidades{
			margin-bottom: 220px;
		}
	.contenedor_habilidades h2{
		color: white;
		font-family: 'Montserrat', sans-serif;
		font-size: 70px;
		font-weight: 300;
		margin-bottom: 95px;
	}
	.contenedor_habilidades .articles{
		padding-right: 12%;
		padding-left: 12%;
	}
	.contenedor_habilidades h3{
		color: white;
		font-family: 'Montserrat', sans-serif;
		font-size: 25px;
		font-weight: 300;
		margin-bottom: 37px;
		padding-bottom: 4px;
		padding-top: 4px;
		}
	.contenedor_habilidades .v-line1{
		border-left: solid 3px rgb(0,170,152);
 		height:70%;
 		left: 39%;
 		position: absolute;
 		top: 268%;
	}
	.contenedor_habilidades .v-line2{
		border-left: solid 3px rgb(0,170,152);
 		height:70%;
 		left: 61%;
 		position: absolute;
 		top: 268%;
 		background: red;
	}
	.container h2{
		color: white;
		font-family: 'Montserrat', sans-serif;
		font-size: 70px;
		font-weight: 300;
	}
	.container article .container_image{
		box-sizing: border-box;
		height: 205px;
		margin: auto;
		position: relative;
		width: 405px;
	}
	.container article .container_image a{
		background: rgba(255,255,255, 0.15);
		color: white;
		display: block;
		font-family: 'Montserrat', sans-serif;
		font-size: 25px;
		height: 100%;
		left: 0%;
		padding-top: 21%;
		position: absolute;
		text-decoration: none;
		opacity: 0;
		top: 0%;
		width: 100%;
		
	}
	.container article .container_image:hover a{
		transition: 0.4s;
		opacity: 1;
	}

	
	


	